<div class="about_wrapper" ng-controller="MainviewController">

	 <nav class="navbar-default navbar-fixed-top">
		<h1 class="main_this">
		<img class="main_adminimg" src="http://www.nevasport.com/imagenes/icono_monte.png">  Mountain Bands  <img class="main_adminimg2" src="http://www.nevasport.com/imagenes/icono_monte.png"></h1>

		<ul class="main_topNav">
			<li><a href="#/products">Products</a></li>
			<li> | </li>
			<li><a href="#/about">About Us</a></li>
			<li> | </li>
			<li><a href="#/checkout">Cart</a></li>
			<li> | </li>
			<li><a href="#/storelocate">Find Us</a></li>
			<li> | </li>
			<li><a href="#/mainview">Home</a></li>
		</ul>
	</nav>    

	<div class="about_banner"></div>
	<div class="btm_container">
		<h3>About Us</h3>

		<p>Space. The final frontier. These are the voyages of the Starship Enterprise? Thank you for being a friend. Travelled down the road and back again. Your heart is true you're a pal and a confidant. The first mate and his Skipper too will do their very best to make the others comfortable in their tropic island nest. Flying away on a wing and a prayer. <span style="font-weight: 600;">Who could it be?</span> Believe it or not its just me. The movie star the professor and Mary Ann here on Gilligans Isle. A man is born he's a man of means. Then along come two they got nothin' but their jeans.</p>
		
		<div id="about_contain">
			<ul>
				<li class="about_img"><img src="./../static/IMG/ring_images/mt_elk_plat.jpg"></li>
				<li class="about_img"><img src="./../static/IMG/ring_images/mt_penant.jpg"></li>
				<li class="about_img"><img src="./../static/IMG/ring_images/mt_sterling.jpg"></li>
			</ul>
		</div>
		<p>All of them had hair of gold like their mother the youngest one in curls. Maybe you and me were never meant to be. But baby think of me once in awhile. I'm at WKRP in Cincinnati</p>
	</div><!--end of btm_container-->
</div>