<div ng-controller="ProductsController" id="addProduct">
    <form>
      <fieldset>
        <legend>Add New Product</legend>
        <input type="text" ng-model="newProduct.name" placeholder="Name">
        <input type="text" ng-model="newProduct.price" placeholder="Price">
        <input type="text" ng-model="newProduct.image" placeholder="http://">
        <textarea ng-model="newProduct.desc" rows="8" cols="40" placeholder="Description"></textarea>
        <input type="submit" ng-click="addProduct()" value="Add Product">
      </fieldset>
    </form>
</div>
