<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top">
			<h1 class="this">	
			<img class="adminimg" src="http://www.nevasport.com/imagenes/icono_monte.png"> Admin Dashboard
			<img class="adminimg2" src="http://www.nevasport.com/imagenes/icono_monte.png">
			</h1>
	</nav>

		<ol class="breadcrumb well adminpage">
		  <li><a href="#">Add Products</a></li>
		  <li><a href="#">Customers</a></li>
		  <li><a href="#">Recent Orders</a></li>
		  <li><a href="#">Manage Transactions</a></li>
		</ol>

	<div class="well">

	</div>
	
</div>
	


	
