<script>
	
</script>

<div ng-controller="MainviewController">

<div id="main_wrapper">

	<div id="main_header">

		<h1 class="main_this">
		<img class="main_adminimg" src="http://www.nevasport.com/imagenes/icono_monte.png"><a href="/mainview">  Mountain Bands </a><img class="main_adminimg2" src="http://www.nevasport.com/imagenes/icono_monte.png"></h1>

		<ul class="main_topNav">
			<li><a href="#/products">Products</a></li>
			<li> | </li>
			<li><a href="#/about">About Us</a></li>
			<li> | </li>
			<li><a href="#/checkout">Cart</a></li>
			<li> | </li>
			<li><a href="#/storelocate">Find Us</a></li>
		</ul>

	</div><!-- end of main_header -->


</div><!-- end of main_wrapper -->

</div>