<div>

	<script>
		$(document).ready(function(){
			Text();
			function Text(){
				$('.stuff').fadeIn(1000, function(){
					$(this).fadeIn(4500);
				}) 
			}
		});
	</script>

	<style>
		.carousel{
			margin-top: 65px;
		}
	</style>

	<div id="myCarousel" class="carousel slide">
		
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
			<li data-target="#myCarousel" data-slide-to="4"></li>
		</ol>

		<div class="carousel-inner">
			
			<div class="item active">
				<img src="./static/IMG/ring_images/mt_band_flatirons.jpg" class="img-responsive">
				<div class="carousel-caption">
					<h3>Handcrafted</h3>
					<p>perfected with precision</p>
				</div>
			</div>
			<div class="item">
				<img src="./static/IMG/ring_images/mt_elk_plat.jpg" class="img-responsive">
				<div class="carousel-caption">
					<h3>Handcrafted</h3>
					<p>perfected with precision</p>
				</div>
			</div>
			<div class="item">
				<img src="./static/IMG/ring_images/mt_penant.jpg" class="img-responsive">
				<div class="carousel-caption">
					<h3>Handcrafted</h3>
					<p>perfected with precision</p>
				</div>
			</div>
			<div class="item">
				<img src="./static/IMG/ring_images/mt_pikes_gold.jpg" class="img-responsive">
				<div class="carousel-caption">
					<h3>Handcrafted</h3>
					<p>perfected with precision</p>
				</div>
			</div>
			<div class="item">
				<img src="./static/IMG/ring_images/mt_sterling.jpg" class="img-responsive">
				<div class="carousel-caption">
					<h3>Handcrafted</h3>
					<p>perfected with precision</p>
				</div>
			</div>
					
		</div>
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">
			<span class="icon-next"></span>
		</a>
	</div>

	<div class="lowerBox">
		<h1>Someone Said Something Awesome</h1>
		<h4 class="stuff">"Amazing Stuff Said About Things"</h4>
	</div>
	
</div>