<!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // console.log(Stripe);
</script>
<script>
$(function() {
  var $form = $('#payment-form');
  $form.submit(function(event) {
    console.log($form);
    Stripe.setPublishableKey('pk_test_N9MUTFJktVhQ0TGm3kC4hitW');
    // Disable the submit button to prevent repeated clicks:
    $form.find('.submit').prop('disabled', true);
    function stripeResponseHandler(status, response) {
      console.log($form);
      // Grab the form:
      var $form = $('#payment-form');

      if (response.error) { // Problem!

        // Show the errors on the form:
        $form.find('.payment-errors').text(response.error.message);
        $form.find('.submit').prop('disabled', false); // Re-enable submission

      } else { // Token was created!

        // Get the token ID:
        var token = response.id;

        // Insert the token ID into the form so it gets submitted to the server:
        $form.append($('<input type="hidden" name="stripeToken">').val(token));

        // Submit the form:
        $form.get(0).submit();
      }
    };
    // Request a token from Stripe:
    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from being submitted:
    return false;
  });
});
</script>

<!-- <div ng-controller="PaymentController">
	<div>
		<h1>Please Confirm You Information Is Correct</h1>
		<h3>First Name: </h3>
		<h3>Last Name: </h3>
		<h3>Phone Number: </h3>
		<h3>Street Address: </h3>
	</div>

	<form action="" method="POST" id="payment-form">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YY)</span>
      <input type="text" size="2" data-stripe="exp_month">
    </label>
    <span> / </span>
    <input type="text" size="2" data-stripe="exp_year">
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc">
    </label>
  </div>

  <input type="submit" class="submit" value="Submit Payment">
</form>
 --> -->



<form action="/chargeUser" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_N9MUTFJktVhQ0TGm3kC4hitW"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>




<script src="https://checkout.stripe.com/checkout.js"></script>



<button id="customButton">Purchase</button>

<script>
  $.getScript('https://checkout.stripe.com/checkout.js', function(data) {

            var handler = StripeCheckout.configure({
              key: 'pk_test_N9MUTFJktVhQ0TGm3kC4hitW',
              image: '/img/documentation/checkout/marketplace.png',
              locale: 'auto',
              token: function(token) {
                console.log(token);
                $.post('/chargeUser', {stripeToken: token.id});  
                // You can access the token ID with `token.id`.
                // Get the token ID to your server-side code for use.
              }
            });

            $('#customButton').on('click', function(e) {
              // Open Checkout with further options:
              handler.open({
                name: 'Demo Site',
                description: '2 widgets',
                amount: 2000
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation:
            $(window).on('popstate', function() {
              handler.close();
            });

  });
</script>


<!-- </div> -->