* {
	margin: 0; 
	padding: 0
}
#wrapper {
	width: 100%;
}
#header {
	width: 95%; 
	margin: 0 auto;
	padding: 10px; 
	height: 85px; 
}
.links {
	text-decoration: none;
}
.links li {
	display: inline;
	vertical-align: top;
	float: right;
	margin: 20px 10px; 
}
.carousel-inner {
	width: 100%;
}
