* {
	margin: 0;
	padding: 0;
}
#main_header {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	height: 105px;
}
#main_header, .main_this, .main_topNav {
	display: inline-block;
	vertical-align: bottom;
}
.main_this {
	color: gray;
	margin-left: 200px;
	width: 600px;
	text-decoration-color: gray;
}
.main_adminimg, .main_adminimg2 {
	height: 50px;
	width: 50px;
	margin-top: -15px;
	}
.main_adminimg {
	border:0;
    display:inline-block;
    transform:scale(-1,1);
    -webkit-transform:scale(-1,1);
    -moz-transform:scale(-1,1);
    -o-transform:scale(-1,1)}
.main_topNav {
	text-decoration: none;
	list-style-type: none;
	float: right;
	margin-top: 30px;
	margin-right: 135px;
}
.main_topNav li {
	display: inline;
	vertical-align: middle;
	margin: 20px 10px;
}

.about_banner {
	background: url("./../IMG/mtn1.jpg");
	background-repeat: no-repeat;
	/*background-position: center center;*/
	background-size: cover;
	height: 425px;
	margin: 0 0 15px 0;
}
#about_contain ul {
	width: 640px;
	margin: 0 auto;
	text-decoration: none;
	list-style-type: none;
}
#about_contain img {
	width: 135px;
	height: 135px;
	border-radius: 90px;
	/*border: 1px solid grey;*/
	margin: 15px 35px;
}
.about_IMG{
	display: inline-block;
	vertical-align: top;

}
.btm_container {
	width: 980px;
	margin: 0 auto;
}

/*Style for displaying products on Products.html page*/
.productImgs{
	display: inline-block;
}

	.productImgs img{
		height: 300px;
		width: 300px;
	}
	.productImgs p{
		margin-left: 111px;
	}

	.productImgs ul{
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
	.productImgs ul li{
		list-style: none;
		margin-bottom: 25px;
	}
	.productImgs ul li img{
		cursor: pointer;
	}
	.productImgs button{
		background-color: green;
		position: absolute;
		margin-left: 100px;
		margin-top: 60px;
		font-weight: bold;
		width: 104px;

	}
	.productImgs button a{
		color: black;
	}
