<div ng-controller="UsersController as UC">
	<div class="container" ng-if="UC.loggedin == 'Admin'">
		<nav class="navbar navbar-inverse navbar-fixed-top adminnav">
				<h1 class="this">	
				<img class="adminimg" src="http://www.nevasport.com/imagenes/icono_monte.png"> Admin Dashboard
				<img class="adminimg2" src="http://www.nevasport.com/imagenes/icono_monte.png">
				</h1>
		</nav>

			<ol class="breadcrumb well adminpage">
			  <li><a href="#/adminproducts">Add Products</a></li>
			  <li><a href="#">Customers</a></li>
			  <li><a href="#">Recent Orders</a></li>
			  <li><a href="#">Manage Transactions</a></li>
			</ol>

		<div class="well">
			<h3>RECENT ORDERS</h3><h6>(Not yet functional)</h6>
			<table class='table table-bordered table striped'>
				<tr>
					<th>Customer Name</th>
					<th>Purchase Price</th>
					<th>Product^</th>
					<th>Date of Purchase</th>
					<th>Action</th>
				</tr>
				<tr>
					<td>Cody Nemmer</td>
					<td>$19.99</td>
					<td>Something</td>
					<td>04/08/16</td>
					<td><button class="btn btn-info"> View</button></td>
				</tr>
				<tr>
					<td>Cody Nemmer</td>
					<td>$19.99</td>
					<td>Something</td>
					<td>04/08/16</td>
					<td><button class="btn btn-info"> View</button></td>
				</tr>
				<tr>
					<td>Cody Nemmer</td>
					<td>$19.99</td>
					<td>Something</td>
					<td>04/08/16</td>
					<td><button class="btn btn-info"> View</button></td>
				</tr>
			</table>
			<!-- <div ng-view=''></div> -->
		</div>
		
	</div>
</div>
	


	